* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans" ,"Segoe UI", Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  color: #ccd1dd;
  background-color: #f1f1f1;
  min-height: 100%;
  min-height: 100vh;
  position: relative;
}

.table-container{
    position: relative;
    top: 5rem;
    width: 100%;
    max-width: 90%;
    min-width: 500px;
    margin: 0 auto 5em;
}

.inner{
    background-color: #3b414e;
    border-radius: .6em;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    background-color: #3b414e;
    overflow: hidden;
}

tbody{
    padding: 0 1em;
}

thead{
    padding: 0 1em;
}

tr:not(:last-child){
    border-bottom: 1px solid #464c59;
}
tbody tr:hover{
    background-color: rgba(255,255,255,0.1);
}

thead tr{
    border-bottom: 1px solid #464c59;
}

thead th{
    padding: 4em 1em 1em;
}

th{
    padding: .6em 1em;
    word-break: keep-all;
}

td {
    min-width: 200px;
    padding: .6em 1em;
    word-break: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table__caption{
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
    margin: 0 auto;
    padding: .6em 1em;
    border-radius: .6em;
    background-color: #424959;
    box-shadow: 0 5px 13px rgba(0,0,0,.4);
}
.table__header{
    font-family: inherit;;
    font-size: 1.5em;
    font-weight: 300;
    
}
.table__header--sub{
    font-size: .9em;
}

*::selection{
  color: #fff;
  background-color: rgba(255,255,255,0.1);
}
